@import "../../less_shared/shared_mainStyle.less";

.navbar-default .navbar-nav>li>a{
	font-size:14px;
}

#mainContentBox{
	.pageIntroText{
		h2{
			font-size:36px;
			line-height:44px;

			@media (max-width: @screen-sm-max) {
				font-size:24px;
				line-height:inherit;
			}
		}

		p{
			font-size:18px;
			line-height:24px;
		}
	}
}

#galleryIntro{
	.visitMuseum .textContent{
		padding-top:60px;

		h3{
			font-size:36px;
		}

		p{
			font-size:15px;
			line-height:20px;
		}
	}

	.galleryBox .textContent{
		font-size:15px;
		line-height:20px;
	}
}

#galleryIntro 

#tsmc_footerInfo{
	.group{
		&.visitInfo{
			.infoItem, .infoItem>a{
				&.withLabel{
					span.openL{
						padding-right:4px;
					}

					span.dayL{
						min-width: 120px;
					}
				}
			}
		}
	}
}

#stickyBox{

	#stickyBookBtn{
		background:url(/img/icon_stickyBookBtn_en_72x72@2x.png) no-repeat center;
		background-size:72px;
	}
}

#bookingProgress{
	>li:nth-child(2) .progressItem{
		top:-5px;
		line-height:1.2;
		position:relative;

		>span.icon{
			top:3px;
		}
	}
}

#bookedInfoBox .bottom ul li {
	padding-left:130px;
	
	@media (max-width: 400px) { padding-left:0;}
}


